@charset 'UTF-08';

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
    --fonte1: 'Gloria Hallelujah', cursive;
    --fonte2: 'Comic Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-image: linear-gradient(to right, blue, whitesmoke);
    height: 120px;
    font-family: var(--fonte2);
    color: white;
}
header > h1 {
    text-align: left;
    font-size: 1.3em;
    padding-left: 6px;
    padding-top: 20px;
    
}
#marca {
    font-size: 0.6em;
    text-align: right;
    margin-top: 50px;
    padding-right: 49px;
    font-weight: bolder;
    color: black;
}
header > p {
    font-size: 1.2em;
    text-align: right;
    padding-right: 6px;
    font-weight: bolder;
    color: black;
}
nav {
    background-image: linear-gradient(to right, blue, whitesmoke);
    margin-bottom: 10px;
}
nav > a {
    font-family: var(--fonte2);
    color: white;
    padding-right: 20px;
    padding-left: 6px;
    text-decoration: none;
}
a:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: bolder;
}
main {
    background-color: whitesmoke;
}
article {
    background-image: url('../imagens/fundo-site.jpg');
    width: 90vw;
    margin: auto;
    color: black;
    border-radius: 15px 15px 15px 15px;
}
article > p {
    padding: 26px 0px 35px 0px;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 1em;
    font-weight: bolder;
}
div.video {
    width: 55%;
    height: 400px;
    border-radius: 10px 10px 10px 10px;
    border: solid black 2px;  
    background-image: url('../imagens/ministerio-providencia-publica.jpg');      
}
div {
    background-image: url('../imagens/fundo-site.jpg');
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
}
div.video > p{
    text-align: center;
    font-size: 3em;
}
a:hover {
    background-color: blue;
    color: whitesmoke;
    font-weight: bolder;
}
div > p {
    padding: 10px 10px 0px 10px;
    text-align: justify;
    font-family: var(--fonte2);
    font-size: 0.8em;
    font-weight: bolder;
    color: black;
    text-shadow: 1px;
}
#fim {
    padding-bottom: 15px;
}
footer {
    background-image: linear-gradient(to left, blue, rgb(94, 97, 255));
    height: 30px;
    margin-top: 5px;
}
footer > p {
    text-align: right;
    font-family: var(--fonte2);
    font-size: 0.8em;
    font-weight: bolder;
    color: white;
    padding-top: 6px;
    padding-right: 6px;
} 
