@charset 'UTF-08';

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
    --fonte1: 'Gloria Hallelujah', cursive;
    --fonte2: 'Comic Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: red;
    font-family: var(--fonte2);
    color: white;
}
header > h1 {
    text-align: right;
    font-size: 2em;
    padding-right: 10px;
    padding-top: 20px;
    box-shadow: 35px 15px 30px black;
    
}
#marca {
    font-size: 0.6em;
    text-align: right;
    margin-top: 30px;
    padding-right: 49px;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: solid;
}
#marca > a{
    color: white;
    text-decoration: solid;
}
#marca > a:hover{
    background-color: white;
    color: black;
}
header > p {
    font-size: 1.2em;
    text-align: right;
    padding-right: 6px;
    font-weight: bolder;
    color: whitesmoke;
}
header > p > a{
    color: white;
    text-decoration: solid;
}
header > p > a:hover{
    background-color: white;
    color: black;
}
main {
    margin-top: 2px;
    background-color: white;
}
article {
    width: 95%;
    height: 500px;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px black;
    background-color: white;
}
article > div {
    width: 100%;
    height: 500px;
    background-image: url('../imagens/fundo-chocolate.webp');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    
}
div > p {
    font-family: var(--fonte2);
    font-size: 1.5;
    font-weight: bolder;
    text-align: left;
    padding: 35px 0px 20px 15px;
    color: black;
}
section#menu {
    text-align: left;
    padding-top: 50px;
    font-family: var(--fonte2);
    font-weight: bolder;
    font-size: 12px;
    
}
section#menu img {
    width: 30px;
    margin: 0px 0px 15px 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
section#menu img:hover {
    border: 2px solid black;
    transform: translate(10px, -1px);
    transition: transform .3s;
}
footer {
    background-color: red;
    height: 30px;
    margin-top: 2px;
}
footer > p {
    text-align: right;
    font-family: var(--fonte2);
    font-size: 0.8em;
    font-weight: bolder;
    color: white;
    padding-top: 6px;
    padding-right: 6px;
}
footer > p> a {
    color: white;
    text-decoration: solid;
}
footer a:hover {
    background-color: white;
    color: black;
} 